<div class="column is-3">
  <div class="card subject-card">
    <header class="card-header">
      <p class="card-header-title">
        <%= link_to subject.title, subject_path(subject) %>
      <div class="is-pulled-right">
        <%= link_to 'Edit', edit_subject_path(subject), class: 'button is-primary is-small' %>
        <%= link_to 'Delete', subject_path(subject), class: 'button is-danger is-small', method: :delete %>
      </div>
      </p>
    </header>
    <div class="card-image">
      <figure class="image is-4by3">
        <% if subject.image.attached? %>
          <%= image_tag subject.image, alt: subject.title %>
        <% else %>
          <%= image_tag 'placeholder.png', alt: subject.title %>
        <% end %>
      </figure>
    </div>
    <div class="card-content">
      <div class="content">
        <%= raw subject.description %>
      </div>
    </div>
    <footer class="card-footer">
      <p class="card-footer-item has-text-grey-light">
        <%= fa_icon 'users', class: 'm-r-xs' %>
        3300
      </p>
      <p class="card-footer-item has-text-grey-light">
        <%= fa_icon 'clock-o', class: 'm-r-xs' %>
        3rd April
      </p>
    </footer>
  </div>
</div>