<div class="column is-3 subject">
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        <%= link_to subject.title, subject_path(subject) %>
      </p>
    </header>
    <% if show_image %>
      <div class="card-image">
        <figure class="image is-4by3">
          <% if subject.image.attached? %>
            <%= image_tag subject.image, alt: subject.title %>
          <% else %>
            <%= image_tag 'placeholder.png', alt: subject.title %>
          <% end %>
        </figure>
      </div>
    <% end %>
    <div class="card-content">
      <div class="content">
        <%= sanitize subject.description %>
      </div>
    </div>
    <% if admin? %>
      <footer class="card-footer">
        <%= link_to 'Edit', edit_subject_path(subject), class: 'has-text-info card-footer-item' %>
        <%= link_to 'Delete', subject_path(subject), class: 'has-text-danger card-footer-item', method: :delete %>
      </footer>
    <% end %>
  </div>
</div>