<%= breadcrumb @subject %>
<div class="columns">
  <div class="column  <%= @subject.children.present? ? 'is-9' : 'is-12' %>">
    <h1 class="title">
      <%= @subject.title %>
      <div class="is-pulled-right">
        <%= link_to 'New', new_subject_path(parent_id: @subject.id), class: 'button is-info is-small' %>
        <%= link_to 'Edit', edit_subject_path(@subject), class: 'button is-primary is-small' %>
        <%= link_to 'Delete', subject_path(@subject), class: 'button is-danger is-small', method: :delete %>
      </div>
    </h1>

    <div class="content">
      <div class="notification">
        <%= sanitize @subject.description %>
      </div>
    </div>

    <div class="content">
      <%= sanitize @subject.content %>
    </div>
  </div>

  <% if @subject.children.present? %>
    <div class="column is-3">
      <nav class="panel">
        <p class="panel-heading">
          More
        </p>
        <% @subject.children.each do |subject| %>
          <%= link_to subject_path(subject), class: 'panel-block' do %>
          <span class="panel-icon">
            <%= fa_icon 'book' %>
          </span>
            <%= subject.title %>
          <% end %>
        <% end %>
      </nav>
    </div>
  <% end %>
</div>