<nav class="navbar is-link has-shadow" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand is-info">
      <%= link_to root_path, class: 'navbar-item' do %>
        <%= image_tag 'logo.png', height: 28 %>
      <% end %>

      <a class="navbar-burger burger">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <%= render '/layouts/search' %>
        </div>
        <%= link_to new_subject_path, class: 'navbar-item' do %>
          New
        <% end if admin? %>
        <% if logged_in? %>
          <%= link_to logout_path, class: 'navbar-item', method: :delete do %>
            <strong>Logout</strong>
          <% end %>
        <% else %>
          <%= link_to signup_path, class: 'navbar-item' do %>
            <strong>Sign up</strong>
          <% end %>
          <%= link_to login_path, class: 'navbar-item' do %>
            <strong>Login</strong>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</nav>