<!DOCTYPE html>
<html>
<head>
  <title>Akshi</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= favicon_link_tag asset_path('favicon.png') %>
  <meta name="turbolinks-cache-control" content="no-preview">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/tomorrow-night.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<%= render '/layouts/header' %>
<section class="section">
  <div class="container">
    <%= render partial: 'partials/flash_messages', flash: flash %>
    <%= yield %>
  </div>
</section>
<%= render '/layouts/footer' %>
</body>
</html>
