<!DOCTYPE html>
<html>
<head>
  <title>Akshi</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= favicon_link_tag asset_path('favicon.png') %>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/tomorrow-night.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.css">
  <meta name="turbolinks-cache-control" content="no-preview">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"></script>
  <script src="//cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      showMathMenu: false,
       tex2jax: {
          inlineMath: [ ['$','$'], ['\\(','\\)'] ],
          processEscapes: true,
          ignoreClass: 'trix-content'
       }
    });

  </script>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<%= render '/layouts/header' %>
<section class="section">
  <div class="container">
    <%= render partial: 'partials/flash_messages', flash: flash %>
    <%= yield %>
  </div>
</section>
<%= render '/layouts/footer' %>
<%= insert_paloma_hook %>
</body>
</html>
